{% load static %}

<html>
    <head>
        <title>
            AVARUN Stocks Daily Analysis
        </title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "index_css.css" %}" type="text/css">
    </head>
    <body>
        <div id="main">
            <nav>
                <ul>
                    <li>
                        <a href="/" style="font-size:1.5em;padding-right:15px">Home</a>
                    </li>
                    <li>
                        <a href="/stocks">Stocks</a>
                    </li>
                    <li>
                        <a href="/morningscan">Morningscan</a>
                    </li>
                    <li>
                        <a href="/polls">Polls</a>
                    </li>
                    <li>
                        <a href="/static/index.html">Demo</a>
                    </li>
                </ul>
            </nav>
            <aside>
                <ul>
                    <li><a href="#subtitle1">item1</a> </li>
                    <li><a href="#subtitle2">item2</a></li>
                    <li><a href="#subtitle3">item3</a></li>
                    <li><a href="#subtitle4">item4</a></li>
                    <li><a href="#subtitle5">item5</a></li>
                </ul>
            </aside>
            <section class="post">
                <article>
                    <h1>
                        Daily Detail Analysis
                    </h1>
                    <p id="subtitle1">
                    <strong>subtitle1</strong>
		    </p>
		    {% if error %}
		        <p style="color: red;">Please submit a search term.</p>
		    {% endif %}
                 	<form action="{% url 'stocks:analysis' %}" method="post">
			{% csrf_token %} 
			<table border="0">
			<tr bgcolor="#cccccc">
			  <td width="150">Item</td>
			  <td width="15">Input</td>
			</tr>
			<tr>
			  <td>Stocks code(123456)</td>
			  <td align="center"><input type="text" name="s" size="10"
			     maxlength="6"/></td>
			</tr>

			<tr>
			  <td>Input Date(XXXX-XX-XX):</td>
		          <td align="center"><input type="text" name="d" size="10"
                             maxlength="10"/></td> 	
		        </tr>
			<tr>
			  <td colspan="2" align="center"><input type="submit" value="Submit" /></td>
			</tr>
			</table>
			</form>
		 	<!--			
					<p>
					<p id="subtitle2">
					<strong>
						subtitle2
					</strong>
					</p>					
					{% if error %}
					    <p style="color: red;">No Sush Data! </p>
					{% else %}
                                        <img src="{% url 'stocks:response' %}" width="700" height="700" />
				        {% endif %}   
					<p id="subtitle3">
					<strong>
						subtitle3
					</strong>
					</p>
                                        {% if error %}
                                            <p style="color: red;">No Sush Data! </p>
                                        {% else %}
			                 <p> Analytical data: </p>
					 <p> Stock {{code}} {{s_name}}  on {{date}} :</p>
				         <p> Buying amount : {{B_amount}}      Selling amount: {{S_amount}}   </p>
					 <iframe width='800'  height='300' frameborder='0' scrolling='yes' src="{% url 'stocks:b_s_statistics' %}"></iframe>
					{% endif %} 		
				
					<p id="subtitle4">
					<strong>
						subtitle4
					</strong>
					</p>

                                        {% if error %}
                                            <p style="color: red;">No Sush Data! </p>
                                        {% else %}
				        <p> All detailed data: </p>
				        <iframe width='800'  height='400' frameborder='0' scrolling='yes' src="{% url 'stocks:data_details' %}"></iframe>
                                        {% endif %}   
                -->
                </article>
            </section>
            <footer>
                <hr>
                <ul>
                    <li><small>Wayou &copy 2013|</small></li>
                    <li><small><a href="mailto:biljiang@outlook.com">Contact</a></small> </li>
                </ul>
            </footer>
        </div>
    </body>
</html>
